@media screen and (min-width: 992px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    h2 {
        padding-left: 20px;
    }

    header {
        justify-content: start;
    }

    .secondary-title {
        font-size: 30px;
    }

    main {
        padding: 40px 40px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    .list {
        width: calc(100% / 3);
        padding: 5px;
    }
    
    .banner {
        display: block;
        width: 100%;
    }

    .d-none {
        display: block;
    }

    .social {
        width: 120px;
        padding: 10px 50px 10px 50px;
    }

    .tiramisu-img {
        float: left;
        width: 30%;
    }
}
