* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: #FF9614;
    font-size: 30px;
    font-family: 'Nerko One', cursive;
}

.d-none {
    display: none;
}

.secondary-title {
    color: #4E3969;
    display: flex;
    font-size: 25px;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    padding-bottom: 15px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

main {
    background-color: #F6F5F3;
    width: 100%;
    padding: 20px 20px;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.category {
    font-size: 15px;
    color: #c1c1c1;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    padding: 3% 0 1% 0;
}

.spec {
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    box-shadow:  3px 3px 3px #00000044;
}

.w100 {
    width: 100%;
}

.banner {
    display: none;
}

ul {
    list-style: none;
    line-height: 30px;
    width: 100%;
}

h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

.social-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px 5px #00000044;
}

.presentation-title {
    font-size: 40px;
    padding: 30px 0 10px 0;
}

.line {
    width: 15%;
    border-color: #ffa319;
}

.tiramisu {
    display: flex;
    justify-content: center;
    align-items: center
}

.tiramisu-img {
    width: 65%;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}
 
p {
    line-height: 30px;
    font-size: 15px;
}

footer p {
    padding: 10px;
}

.footer-contact {
    padding: 10px 0;
}

.footer-contact a {
    padding: 0 10px;
    color: #ffffff;
}

.footer {
    background-color: #4E3969;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}